$input-txt-color:#555;
$input-text-focus:#495057;
$input-text-border-focus:#3c8dbc;
$input-text-background-focus:#fff;

$whiteBg:#ffffff;

//height width max size
$height100:100%;
$width100:100%;

//none property
$noneprop:none;