.subscription_img {
    width: 35px;
}
.subHeader_card_label{
    border-bottom: 1px solid #6e6e6e;
        height: 30px;
        color: #000000;
        font-size: 14px;
        font-weight: 500;
}
.form_ctrl_label_bg{
    width: 25%;
}
::ng-deep .form_ctrl_label_bg .mat-form-field{
    width: 95% !important;
}
.custom_textrea{
    resize: none;
    overflow: hidden;
}